.input-add-filter {
    width: 600px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

h2 {
    margin-top: 50px;
}

.input-add-filter div {
    display: flex;
}

.input-add-filter input {
    width: 300px;
    margin-right: 8px;
    font-size: 1rem;
}

.input-add-filter label {
    margin-right: 10px;
}

.input-add-filter select {
    font-size: 1rem;
}

.add-btn {
    background-color: inherit;
    border: none;
    color: #0a9b05;
    font-size: 2rem;
}

.add-btn:hover {
    color: #075705;
}

.ul-div {
    margin: 0;
}

.ul-div ul {
    padding: 0;
    margin: 0;
}

.task-scope {
    height: 48px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;  
    align-items: center;
    border: solid 1px #fff;
    font-size: 1.5rem;
}

.task-scope li {
    list-style-type: none;
    margin-left: 10px;
}

.btns-style {
    height: inherit;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.btns-style button {
    background-color: inherit;
    border: none;
    font-size: 2rem;
}

.save-btn {
    color: #e7710f;
}

.save-btn:hover {
    color: #8d4409;
}

.delete-btn {
    color: #c51d1d;
}

.delete-btn:hover {
    color: #7e1515;
}

.task-description:hover {
    cursor: pointer;
}

button:hover {
    cursor: pointer;
}

/* Estilo para a edição das tarefas */

.editing-task {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: solid 1px #fff;
}

.editing-task input {
    height: 42px;
    font-size: 1.5rem;    
    padding-left: 10px;
    background-color: #ffffffef;
}

.editing-task button {
    background-color: inherit;
    border: none;
    font-size: 2rem;
    color: #2023e7;
}
